<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunal.ecart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Display" />
        <activity android:name=".OTP" />

        <meta-data
            android:name="sendotp.key"
            android:value="227450AaQzOl3C95b54b796" />

        <activity
            android:name=".Display2"
            android:label="@string/title_activity_display2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UploadImage" />
        <activity android:name=".ForgotMobileNo" />
        <activity android:name=".OTP2" />
        <activity android:name=".NewPassword" />
        <activity android:name=".options.CartListActivity" />
        <activity android:name=".options.WishlistActivity" />
        <activity android:name=".product.ItemDetailsActivity" />
        <activity android:name=".options.SearchResultActivity" />
        <activity android:name=".UserDetailsActivity" />
        <activity android:name=".ChatActivity"></activity>
    </application>

</manifest>